<section id="contact">
  <div class="container-fluid py-5">
    <div class="text-right text-center h3">Get In Touch</div>
    <div class="row justify-content-center px-md-5">
      <div class="col-md-6 py-3">
        <div class="text-center">{{ .Site.Params.contact_content | emojify | markdownify }}</div>
        {{ if .Site.Params.email }}
        <div class="text-center pt-3">
          <a href="mailto:{{ .Site.Params.email }}?subject=Say hi!" class="contact-btn btn text-muted">
            {{ .Site.Params.getintouch | default "Get in Touch" }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>