<section id="contact">
  <div class="container-fluid py-3">
    <div class="text-light text-center h3">Get In Touch</div>
    <div class="row justify-content-center px-md-5">
      <div class="col-md-6 py-3">
        <div class=" text-center">
          Although I'm not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I'll try my best to get back to you!
        </div>
        {{ if .Site.Params.email }}
        <div class="text-center pt-3">
          <a href="mailto:{{ .Site.Params.email }}?subject=Say hi!" class="contact-btn btn">
            Get In Touch
          </a>
        </div>
        {{ end }}
      </div>

    </div>
  </div>
</section>
