<section id="contact">
  <div class="container-fluid py-3">
    <div class="text-light text-center h3">Get In Touch</div>
    <div class="row justify-content-center px-md-5">
      <div class="py-5 overflow-hidden col-md-4 d-none d-md-block">
        <img class="contact-img" src="/contact.svg" />
      </div>
      <div class="py-5 col-md-5">
        <form class="text-secondary px-3" method="get">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="example@email.com">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="text">Content</label>
            <textarea class="form-control" placeholder="Type Something ...." id="text" rows="3"></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
