<section id="experience">
  <div class="container-fluid pt-5">
    <div class="text-dark text-center h3">Experience</div>

    <div class="row justify-content-center py-md-5">
      <div class="d-md-none d-lg-none d-sm-block">
          {{ range .Site.Params.experience }}
            <div class="col-sm">
              {{ partial "sections/v3/experience_details.html" . }}
            </div>
          {{ end }}
      </div>

      <div id="nav-pills-out" class="d-none d-md-block nav flex-column nav-pills col-md-2" id="v-pills-tab"
        role="tablist" aria-orientation="vertical">
        {{ range $index, $element := .Site.Params.experience }}
          <a class="nav-link {{ if (eq $index 0) }}active{{ end }}" id="{{ cond (eq .id "") .company .id }}-tab" data-toggle="pill" href="#{{ cond (eq .id "") .company .id }}" role="tab"
            aria-controls="{{ cond (eq .id "") .company .id }}" aria-selected="{{ if (eq $index 0) }}true{{ else }}false{{ end }}">
            <small><i class="far fa-calendar-alt"></i> {{ .startdate }}</small> 
            <div>{{ .company }}</div>
          </a>
        {{ end }}
      </div>

      <div class="tab-content col-md-4 d-none d-md-block" id="v-pills-tabContent">
        {{ range $index, $element := .Site.Params.experience }}
          <div class="tab-pane fade {{ if (eq $index 0) }}show active{{ end }}" id="{{ cond (eq .id "") .company .id }}" role="tabpanel" aria-labelledby="{{ cond (eq .id "") .company .id }}-tab">
            {{ partial "sections/v3/experience_details.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>