<section id="projects" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600" data-aos-once="true">
  <div class="container-fluid py-3 pt-5">
    <div class="text-light text-center h3">Projects</div>
    <div class="row justify-content-center pt-2">
      {{ range ( where .Site.RegularPages "Type" "project" ) }}
      <div class="col-md-8 pro m-3 shadow" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
        <div class="row">
          <div class="col-md-6 bg-pro">
            <img src='{{ .Params.img }}' alt="{{ .Title }}">
          </div>
          <div class="col-md-6 content-pro p-3 bg-light">
            <div class="content-pro-top">
              <h2>{{ .Title }}</h2>
              <p class="card-text pt-2">
                {{ .Params.description }}
              </p>
            </div>
            <span class="float-right">
              {{ if .Params.featured }}
              <a href="{{ .Params.featured }}" class="px-1">
                <i class="fas text-info fa-link"></i>
              </a>
              {{ end }}
              {{ if .Params.github }}
              <a href="{{ .Params.github }}" class="px-1 pr-2">
                <i class="fab text-dark fa-lg fa-github"></i>
              </a>
              {{ end }}
              <a class="btn btn-sm pro-btn btn-outline-info" target="_blank" href="{{ .Permalink }}">
                Know more...
              </a>
            </span>
          </div>
        </div>
      </div>
      {{ end }}
      {{ range .Site.Params.projects }}
      <div class="col-md-8 pro m-3 shadow" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
        <div class="row">
          <div class="col-md-6 bg-pro">
            <img src='{{ .img }}' alt="{{ .name }}">
          </div>
          <div class="col-md-6 content-pro p-3 bg-light">
            <div class="content-pro-top">
              <h2>{{ .name }}</h2>
              <p class="card-text pt-2">
                {{ .description }}
              </p>
            </div>
            <span class="float-right">
              {{ if .featuredlink }}
              <a href="{{ .featuredlink }}" class="px-1">
                <i class="fas text-info fa-link"></i>
              </a>
              {{ end }}
              {{ if .githublink }}
              <a href="{{ .githublink }}" class="px-1 pr-2">
                <i class="fab text-dark fa-lg fa-github"></i>
              </a>
              {{ end }}

            </span>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!--
  {{ range ( where .Site.RegularPages "Type" "project" ) }}
  <div class="col-md-5 py-2">
    <div class="pb-2">
      <div class="card border-r border-0 shadow h-100 m-2">
        <a class="text-decoration-none" target="_blank" href="{{ .Permalink }}">
          <img src='{{ .Params.img }}' class="card-img-top" height="250" alt="{{ .Title }}">
        </a>
        <div class="card-body pt-2 ">
          <h2>{{ .Title }}</h2>
          <p class="card-text pt-2">
            <span class="">
              Build your website with “Hugo” comment Go to the terminal and type “hugo” …
            </span>

          </p>
          <span class="float-right">
            {{ if .Params.featured }}
            <a href="{{ .Params.featured }}" class="px-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm10 12c0 .685-.07 1.354-.202 2h-3.853c.121-1.283.129-2.621 0-4h3.853c.132.646.202 1.315.202 2zm-.841-4h-3.5c-.383-1.96-1.052-3.751-1.948-5.278 2.435.977 4.397 2.882 5.448 5.278zm-5.554 0h-2.605v-5.658c1.215 1.46 2.117 3.41 2.605 5.658zm-4.605-5.658v5.658h-2.605c.488-2.248 1.39-4.198 2.605-5.658zm0 7.658v4h-2.93c-.146-1.421-.146-2.577 0-4h2.93zm0 6v5.658c-1.215-1.46-2.117-3.41-2.605-5.658h2.605zm2 5.658v-5.658h2.605c-.488 2.248-1.39 4.198-2.605 5.658zm0-7.658v-4h2.93c.146 1.421.146 2.577 0 4h-2.93zm-4.711-11.278c-.896 1.527-1.565 3.318-1.948 5.278h-3.5c1.051-2.396 3.013-4.301 5.448-5.278zm-6.087 7.278h3.853c-.121 1.283-.129 2.621 0 4h-3.853c-.132-.646-.202-1.315-.202-2s.07-1.354.202-2zm.639 6h3.5c.383 1.96 1.052 3.751 1.948 5.278-2.435-.977-4.397-2.882-5.448-5.278zm12.87 5.278c.896-1.527 1.565-3.318 1.948-5.278h3.5c-1.051 2.396-3.013 4.301-5.448 5.278z" />
              </svg>
            </a>
            {{ end }}
            {{ if .Params.github }}
            <a href="{{ .Params.github }}" class="px-1 pr-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
              </svg>
            </a>
            {{ end }}
            <a class="btn btn-sm btn-outline-info" target="_blank" href="{{ .Permalink }}">Read
              more...</a>
          </span>
        </div>

      </div>
    </div>
  </div>

  {{ end }}
-->