{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">

<!-- fontawesome -->
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="projects">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="row">
        {{ range .Paginator.Pages }}
        <div class="col-lg-4 col-md-6 my-3">
            {{- partial "cards/project.html" (dict "title" .Title "image" .Params.image "badges" .Params.badges "Summary" .Summary "links" .Params.links "RelPermalink" .RelPermalink) -}}
        </div>
        {{ end }}
        <div class="row justify-content-center">
            <div class="col-auto m-3">
                {{template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}