{{ if not (.Site.Params.hero.enable | default false) }}
{{ return }}
{{ end }}

<section id="hero" class="py-5 align-middle">
    <div class="container px-3 px-sm-5 px-md-5 px-lg-5 pt-lg-3">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 content {{ if .Site.Params.animate }}animate{{ end }}"
                id="primary-font">
                <span class="subtitle">
                    {{ .Site.Params.hero.intro }}
                </span>
                <h1>
                    {{ .Site.Params.hero.title }}
                </h1>
                <h2>
                    {{ .Site.Params.hero.subtitle }}
                </h2>
                <p class="hero-content">
                    {{ .Site.Params.hero.content | markdownify }}
                </p>
                <div class="row">
                    <div class="col-auto h-100">
                        {{ if .Site.Params.hero.button.enable }}
                        <a href="{{ .Site.Params.hero.button.url }}" class="btn" {{ cond
                            .Site.Params.hero.button.download "download" "" }} {{ if .Site.Params.hero.button.newPage |
                            default true }} target="_blank" {{ end }}>
                            {{ .Site.Params.hero.button.name }}
                        </a>
                        {{ end }}
                    </div>
                    <div class="col-auto px-0 h-100">
                        {{- partial "sections/hero/social.html" . -}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row justify-content-center">
                    <div
                        class="col-sm-12 col-md-9 pt-5 image {{ if .Site.Params.animate }}animate{{ end }} px-5 px-md-5 px-lg-0 text-center">
                        <img src="{{ .Site.Params.hero.image }}"
                            class="img-thumbnail mx-auto{{ if .Site.Params.hero.roundImage }} rounded-circle{{ end }}"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>