{{ $recentPostsPath := .Site.Params.footer.recentPosts.path | default "blogs" }}
{{ $currentNumOfrecentPosts := len (where .Site.RegularPages "Type" $recentPostsPath) }} 
{{ if and (gt $currentNumOfrecentPosts 0) (.Site.Params.footer.recentPosts.enable | default false) }} 
<div class="container py-3" id="recent-posts">
    {{ $recentPostsCount := .Site.Params.footer.recentPosts.count | default 3 }}
    {{ $recentPosts := where .Site.RegularPages "Section" $recentPostsPath | first $recentPostsCount }}
    <div class="h3 text-center text-secondary py-3">
        {{ .Site.Params.footer.recentPosts.title | default "Recent Posts" }}
    </div>
    <div class="row justify-content-center">
        {{ range $recentPosts }}
        <div class="col-lg-4 col-md-6 pt-2">
            {{- partial "cards/blogPost.html" (dict "Title" .Title "Params" .Params "Summary" .Summary "RelPermalink" .RelPermalink "Date" .Date "Site" .Site "disableFeaturedImage" ($.Site.Params.footer.recentPosts.disableFeaturedImage | default false) "dateFormat" ($.Site.Params.datesFormat.articleRecent | default "January 2, 2006")) -}}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
