<div class="text-center pt-2">
    {{ if .Site.Params.footer.socialNetworks.github }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.github }}" target="_blank" aria-label="github">
            {{- partial "socialIcons/github.html" . -}}
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.linkedin }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.linkedin }}" target="_blank" aria-label="linkedin">
            {{- partial "socialIcons/linkedin.html" . -}}
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.twitter }}
    <a href="{{ .Site.Params.footer.socialNetworks.twitter }}" target="_blank" aria-label="twitter">
        {{- partial "socialIcons/twitter.html" . -}}
    </a>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.instagram }}
    <a href="{{ .Site.Params.footer.socialNetworks.instagram }}" target="_blank" aria-label="instagram">
        {{- partial "socialIcons/instagram.html" . -}}
    </a>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.facebook }}
    <a href="{{ .Site.Params.footer.socialNetworks.facebook }}" target="_blank" aria-label="facebook">
        {{- partial "socialIcons/facebook.html" . -}}
    </a>
    {{ end }}
</div>