
/* Default font for body */
body {
    font-family: "Alata", serif !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: "Alata", serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Alata", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Alata", sans-serif;
}