
footer a {
  text-decoration: none;
  color: var(--text-secondary-color) !important;
}

footer a:hover {
  color: var(--primary-color) !important;
}

footer .card {
    background-color: var(--secondary-color) !important;
    border-radius: .75rem;
    overflow: hidden;
}

footer .card-text *{
    background-color: var(--secondary-color) !important;
}

footer .card-footer a {
    color: var(--text-secondary-color) !important;
    border-color: var(--primary-color) !important;
    transition: none;
}

footer .card-footer a:hover {
    color: var(--primary-color) !important;
}

footer .card-footer a:focus {
    box-shadow: none !important;
}