footer a h5 {
    color: var(--text-color) !important;
}

footer a {
  text-decoration: none;
  color: var(--text-secondary-color) !important;
}

footer a:hover {
  color: var(--primary-color) !important;
}

footer .card {
    background-color: var(--secondary-color) !important;
    border-radius: .75rem;
    cursor: context-menu;
    overflow: hidden;
}

footer .card:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
}

footer .card-text * {
    background-color: var(--secondary-color) !important;
}

footer .card-footer {
    background-color: var(--background-color) !important;
    padding: .8em .7em;
}

footer .card-footer a {
    color: var(--text-secondary-color) !important;
    border-color: var(--primary-color) !important;
    transition: none;
    background-color: var(--background-color) !important;
}

footer .card-footer a:hover {
    color: var(--primary-color) !important;
    opacity: 0.8;
}

footer .card-footer a:focus {
    box-shadow: none !important;
}