/*home*/

.home {
    height: 100vh;
    padding: 0;
    padding-bottom: 0;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.name {
    font-family: 'Alata', sans-serif;
}

.name-intro {
    font-size: 20PX;
    padding-top: 10%;
    padding-left: 20%;
}