body {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: none;
}

/* do things */

.do-things {
  height: auto;
  padding: 0;
  padding-bottom: 0;
  margin: 0;
}

.things-i-do {
  font-family: "Alata", sans-serif;
  font-size: 25px;
}

.things {
  height: auto;
}

.things-text {
  height: 100px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .things-i-do {
    padding-top: 7% !important;
  }

  .do-things-card {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0%;
    padding-top: 0%;
  }
}

/* about */

.about {
  height: auto;
}

.jop {
  font-size: 30px;
}

.about-me {
  font-family: "Alata", sans-serif;
  font-size: 25px;
}

.about-content {
  font-size: 20px;
}

.about-content a:hover {
  text-decoration-line: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .about {
    height: auto;
  }
}

/* footer */
footer {
  background-color: #1c2d41;
  color: #8392a5;
  border-top-width: 1px !important;
  border-color: #8392a5;
}

footer a {
  color: #8392a5;
}

/* news */
.news a {
  color: #1c2d41;
  text-decoration: none;
}

/*navbar*/
.navbar-color {
  color: #101820ff;
}

.navbar-text {
  font-size: 17px;
}

.navbar-brand {
  font-size: 22px;
}

.nav-link {
  color: #101820ff !important;
  font-size: 18px;
}

footer {
  background-color: #1c2d41;
  color: #8392a5;
  border-top-width: 1px !important;
  border-color: #8392a5;
}

.blog-title {
  font-size: 48px;
}

.mincho-font {
  font-family: "Shippori Mincho B1", serif;
}

article {
  line-height: 1.756;
  font-size: 18px;
}

article blockquote {
  margin: 0 !;
  border-left: 4px solid #248aaa !important;
  background-color: #248baa15 !important;
  padding: 0.3rem !important;
  padding-left: 1rem !important;
}

article blockquote > p {
  color: #3c4858 !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

article h1 {
  font-size: 52px !important;
  line-height: 1.15;
}

article h2 {
  font-size: 32px;
  line-height: 1.333;
}

article h3 {
  font-size: 24px;
  line-height: 1.45;
}

article h4,
h5,
h6 {
  font-size: 18px;
  line-height: 1.45;
}

article table {
  border-radius: 0.1rem;
  background: #e5e9f2;
  border: 1px solid #c0ccda;
  padding: 0.1rem;
}

article table tr {
  height: 40px !important;
}

article table th,
td {
  padding: 0.5rem;
  border-left: 1px solid #8392a5;
  border-bottom: 1px solid #8392a5;
}

article table thead tr {
  background: #248aaa;
  color: #e5e9f2;
}

article tbody tr:nth-child(odd) {
  background-color: #e5e9f2;
}

article tbody tr:hover {
  background: #c0ccda;
}

article img {
  width: 100%;
}

article caption,
figcaption {
  caption-side: bottom;
  text-align: center;
  color: #8392a5;
}

article pre {
  margin: 5px;
  padding: 5%;
  padding-left: 7%;
  font-size: 18px;
  background-color: #1f618d !important;
  color: white;
  border-radius: 1.5% !important;
}

article pre > code {
  color: white;
}

article a.header-anchor {
  text-decoration: none;
  color: #1c2d41;
}

article a.header-anchor i {
  font-size: 10pt;
  color: #3c4858;
  display: none;
  margin-left: 0.5rem;
}

article a.header-anchor:hover i {
  display: inline-block;
}

article a.header-anchor code {
  color: #e83e8c;
}

article kbd {
  background-color: #248aaa !important;
  color: #f9fafc;
}

article mark {
  background-color: #ffc21280;
}
