.item-title {
    font-family: 'Alata', sans-serif;
    color: rgba(0, 0, 0, 0.541);
    font-weight: bold;
}

.item-title:hover {
    color: rgb(0, 204, 255);
}

.blog-tags {
    color: rgb(0, 204, 255);
}