<section>
    <div class="about p-3" id="about">
        <div class="container">
            <div class="about-me text-center font-weight-bold text-secondary">About Me</div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-md-3 pt-5 text-center">
                <img src="{{ .Site.Params.profile_image }}" width="200px" alt="{{ .Site.Params.name }}" class="rounded">
                <div class="about-me jop font-weight-bold text-secondary">{{ .Site.Params.jop }}</div>

                {{ if .Site.Params.linkedin }}
                <a class="text-white" href="{{ .Site.Params.linkedin }}" target="_blank">
                    <svg class="text-primary" width="2em" height="2em" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
                    </svg>
                </a>
                {{ end }}

            </div>

            <div class="col-md-7 pt-5 ">
                <div class="about-content text-secondary p-3">
                    Hi, I'm <span class="text-light">{{ .Site.Params.name }}</span>, a passionate <span
                        class="text-light">{{ .Site.Params.jops_about | default "Your jop"}}</span> from India. I tend
                    to make use
                    of modern web technologies to build websites that looks great, feels fantastic, and functions
                    correctly.

                    <br><br>
                    You can check my <a href="/blog">blog</a> and my <a href="{{ .Site.Params.github | default "#" }}"
                        target="_blank">github</a> for more details.
                </div>
                <div class="text-center">
                    <a href="{{ .Site.Params.resume | default "#" }}" class="btn btn-info" role="button"
                        aria-pressed="true">Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>