<section>
    <div class="about pt-4">
        <div class="container">

            <div class="row justify-content-center ">
                <div class="col-lg-3 pt-3 text-center">
                    {{ if .Site.Params.profile_image }}
                    <img src="{{ .Site.Params.profile_image }}" width="200" height="200" alt="{{ .Site.Params.name }}"
                        class="rounded">
                    {{ end }}
                    <div class="about-me jop font-weight-bold text-secondary">
                        {{ if .Site.Params.name }}
                        {{ .Site.Params.name }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-8 text-center">
                    <div class="about-content text-dark p-3">
                        {{ if .Site.Params.descripe_l1_person }}
                        {{ .Site.Params.descripe_l1_person }}
                        {{ end }}

                        {{ if .Site.Params.descripe_l2_person }}
                        <br><br>
                        {{ .Site.Params.descripe_l2_person }}
                        {{ end }}
                    </div>
                    <div class="social px-3 text-center">
                        {{ if .Site.Params.useresume }}
                        <a href="{{ .Site.Params.resume | default " #" }}" class="btn btn-outline-danger" role="button"
                            aria-pressed="true">
                            Resume
                        </a>
                        {{ end }}


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>