{{ if .Site.Params.career_highlights.enable | default false }}
<section id="career_highlights" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.career_highlights.title | default "Career Highlights" }}</h3>
        <div class="row justify-content-center py-5">
            <div class="col-12 p-0">
                <div class="row align-items-center justify-content-center m-1 mb-4">
                    <div class="col-md-9 content">
                        <style>
                                #career-highlights ul {
                                    display: grid;
                                    gap: 0px 10px;
                                    padding: 0px;
                                    margin: 20px 0px 0px;
                                    overflow: hidden;
                                    list-style: none;
                                    color: white !important;
                                }
                                
                                #career-highlights ul li {
                                    position: relative;
                                    margin-bottom: 10px;
                                    padding-left: 20px;
                                    color: white !important;
                                }
                                
                                #career-highlights ul li::before {
                                    content: "»";
                                    color: var(--primary-color);
                                    position: absolute;
                                    left: 0px;
                                }
                                </style>
                                <ul>
                                    {{ range .Site.Params.career_highlights.items }}
                                    <li>{{ . | markdownify }}</li>
                                    {{ end }}
                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }} 