{{ if .Site.Params.career_highlights.enable | default false }}
<section id="career_highlights" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.career_highlights.title | default "Career Highlights" }}</h3>
        <div class="row justify-content-center px-3 py-5"> <!-- Match About section's padding/row structure -->
            <div class="col-sm-12 col-md-9 content"> <!-- Match About section's column structure -->
                <style>
                        #career_highlights ul { /* Updated ID selector */
                            display: grid;
                            gap: 0px 10px;
                            padding: 0px;
                            margin: 20px 0px 0px;
                            overflow: hidden;
                            list-style: none;
                            /* color: white !important; */ /* Removed potentially conflicting style */
                        }
                        
                        #career_highlights ul li { /* Updated ID selector */
                            position: relative;
                            margin-bottom: 10px;
                            padding-left: 20px;
                            /* color: white !important; */ /* Removed potentially conflicting style */
                        }
                        
                        #career_highlights ul li::before { /* Updated ID selector */
                            content: "»";
                            color: var(--primary-color);
                            position: absolute;
                            left: 0px;
                        }
                        </style>
                        <ul>
                            {{ range .Site.Params.career_highlights.items }}
                            <li>{{ . | markdownify }}</li>
                            {{ end }}
                        </ul>
            </div>
        </div>
    </div>
</section>
{{ end }} 