{{ if .Site.Params.usedothings }}
<section>
    <div class="do-things text-center bg-white" id="do-things">
        <div class="container">
            <div class="things-i-do text-primary font-weight-bold">
                Things I do
            </div>

            <div class="do-things-card">
                <div class="row pb-5 justify-content-center">
                    <!-- Thing 1 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 mt-5 bg-warning">
                            {{ if .Site.Params.usedefaultlogos }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z" />
                            </svg>
                            {{ end }}

                            <div class="p-2 font-weight-bold">
                                {{ if .Site.Params.thing1 }}
                                {{ .Site.Params.thing1 }}
                                {{ end }}
                            </div>
                            <div class="py-4 things-text">
                                {{ if .Site.Params.thing1_des }}
                                {{ .Site.Params.thing1_des }}
                                {{ end }}
                            </div>
                        </div>
                    </div>

                    <!-- Thing 2 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 mt-5 bg-warning">
                            {{ if .Site.Params.usedefaultlogos }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
                            </svg>
                            {{ end }}

                            <div class="p-2 font-weight-bold">
                                {{ if .Site.Params.thing2 }}
                                {{ .Site.Params.thing2 }}
                                {{ end }}
                            </div>
                            <div class="py-4 things-text">
                                {{ if .Site.Params.thing2_des }}
                                {{ .Site.Params.thing2_des }}
                                {{ end }}
                            </div>
                        </div>
                    </div>

                    <!-- Thing 3 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 mt-5 bg-warning">
                            {{ if .Site.Params.usedefaultlogos }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path
                                    d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z" />
                            </svg>
                            {{ end }}

                            <div class="p-2 font-weight-bold">
                                {{ if .Site.Params.thing3 }}
                                {{ .Site.Params.thing3 }}
                                {{ end }}
                            </div>
                            <div class="py-4 things-text">
                                {{ if .Site.Params.thing3_des }}
                                {{ .Site.Params.thing3_des }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ else }}
<section>
    <div class="do-things text-center bg-white" id="do-things">
        <div class="container">
            <div class="things-i-do text-primary font-weight-bold">
                Things I do
            </div>

            <div class="do-things-card">
                <div class="row pb-5 justify-content-center">
                    <!-- Thing 1 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 mt-5 bg-warning">
                            {{ if .Site.Params.usedefaultlogos }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z" />
                            </svg>
                            {{ else }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z" />
                            </svg>
                            {{ end }}

                            <div class="p-2 font-weight-bold">
                                {{ if .Site.Params.thing1 }}
                                {{ .Site.Params.thing1 }}
                                {{ else }}
                                Programming
                                {{ end }}
                            </div>
                            <div class="py-4 things-text">
                                {{ if .Site.Params.thing1_des }}
                                {{ .Site.Params.thing1_des }}
                                {{ else }}
                                I build something beautiful
                                {{ end }}
                            </div>
                        </div>
                    </div>

                    <!-- Thing 2 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 mt-5 bg-warning">
                            {{ if .Site.Params.usedefaultlogos }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
                            </svg>
                            {{ else }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
                            </svg>
                            {{ end }}

                            <div class="p-2 font-weight-bold">
                                {{ if .Site.Params.thing2 }}
                                {{ .Site.Params.thing2 }}
                                {{ else}}
                                Machine learning
                                {{ end }}
                            </div>
                            <div class="py-4 things-text">
                                {{ if .Site.Params.thing2_des }}
                                {{ .Site.Params.thing2_des }}
                                {{ else }}
                                I train robust models for various tasks.
                                {{ end }}
                            </div>
                        </div>
                    </div>

                    <!-- Thing 3 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 mt-5 bg-warning">
                            {{ if .Site.Params.usedefaultlogos }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path
                                    d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z" />
                            </svg>
                            {{ else }}
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path
                                    d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z" />
                            </svg>
                            {{ end }}

                            <div class="p-2 font-weight-bold">
                                {{ if .Site.Params.thing3 }}
                                {{ .Site.Params.thing3 }}
                                {{ else }}
                                Things for web
                                {{ end }}
                            </div>
                            <div class="py-4 things-text">
                                {{ if .Site.Params.thing3_des }}
                                {{ .Site.Params.thing3_des }}
                                {{ else }}
                                I love to build things for web.
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}