{{ if .Site.Params.usedothings }}
<section>
    <div class="do-things text-center bg-white" id="do-things">
        <div class="container">
            <div class="things-i-do text-primary py-3 font-weight-bold">
                Things I do
            </div>

            <div class="do-things-card">
                <div class="row pb-2 justify-content-center">
                    {{ range .Site.Params.Things }}
                    <!-- Thing 1 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 my-2 mb-4 bg-warning">
                            <i class="{{ .logo }} fa-3x" width="3em" height="3em"></i>
                            <div class="p-2 font-weight-bold">
                                {{ .title }}
                            </div>
                            <div class="py-4 things-text">
                                {{ .description }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}