<div class="home container-fluid row" id="home">
    <div class="col-lg-8 col-sm">
        <div class="name-intro">
            Hi there, I'm
            <h1 class="name">Gurusabarish</h1>

            <i class="fab fa-github-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>

            <div class="jop">
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-sm">

    </div>
</div>