{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range .Site.Params.projects.items }}
            <div class="col-lg-4 col-md-6 my-3">
                {{- partial "cards/project.html" . -}}
            </div>
            {{ end }}
            {{ range ( where .Site.RegularPages "Type" "projects" ) }}
            {{ if .Params.showInHome | default true }}
            <div class="col-lg-4 col-md-6 my-3">
                {{- partial "cards/project.html" (dict "title" .Title "image" .Params.image "badges" .Params.badges "Summary" .Summary "links" .Params.links "RelPermalink" .RelPermalink) -}}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}