<section>
    <div class="projects p-3" id="projects">
        <div class="project-heading text-center container">Projects</div>

        <div class="container p-2">
            {{ range .Site.Params.projects }}
            <div class="card mb-3">
                <img class="card-img-top" src="{{ .image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ .title }}</h5>
                    <p class="card-text">{{ .description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>