<!DOCTYPE html>
<html lang="en">

<head>
  {{ if eq .Site.Params.version 1 }}
  {{- partial "sections/v1/head.html" . -}}
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/v1/head_foot.css" rel="stylesheet">
  {{- block "head" . -}}{{- end }}

  {{ else if eq .Site.Params.version 2 }}
  {{- partial "sections/v2/head.html" . -}}
  {{- block "head" . -}}{{- end }}
  {{ else if eq .Site.Params.version 3 }}
  {{- partial "sections/v3/head.html" . -}}
  <link rel="stylesheet" href="/css/v3/navbar-footer.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
    rel="stylesheet">
  {{- block "head" . -}}{{- end }}
  {{ else }}
  {{ end }}

</head>

<body>
  {{ if eq .Site.Params.version 1 }}
  {{- partial "sections/v1/scripts.html" . -}}
  {{- partial "sections/v1/header1.html" . -}}
  {{- block "main" . -}}{{- end }}
  {{- partial "sections/v1/footer.html" . -}}

  {{ else if eq .Site.Params.version 2 }}
  {{- partial "sections/v2/scripts.html" . -}}
  {{- partial "sections/v2/header.html" . -}}
  {{- block "main" . -}}{{- end }}
  {{- partial "sections/v2/footer.html" . -}}

  {{ else if eq .Site.Params.version 3 }}
  {{- partial "sections/v3/scripts.html" . -}}
  {{- partial "sections/v3/navbar.html" . -}}
  {{- block "main" . -}}{{- end }}
  {{- partial "sections/v3/footer.html" . -}}
  {{ else }}
  {{ end }}


</body>

</html>