{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="row">
        {{ range .Paginator.Pages }}
        <div class="col-lg-4 col-md-6 my-3">
            <div class="card-columns">
                {{- partial "cards/blogPost.html" (dict "Title" .Title "Params" .Params "Summary" .Summary "RelPermalink" .RelPermalink "Date" .Date "Site" .Site "disableFeaturedImage" (.Site.Params.listPages.disableFeaturedImage | default false) "dateFormat" (.Site.Params.datesFormat.articleList | default "January 2, 2006")) -}}
            </div>
        </div>
        {{ end }}
        <div class="row justify-content-center">
            <div class="col-auto m-3">
                {{template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}