<!--
params:
    - index
    - key
    - info
        - enable
        - content
    - company
    - companyUrl
    - date
    - job
    - featuredLink
        - enable
        - name
    - content
-->

<div
    class="tab-pane fade {{ if (eq .index 0) }} show active {{ end }} bg-transparent"
    role="tabpanel"
    id='{{.key}}-pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}'
    aria-labelledby='pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}-tab'
>
    <div>
        <span class="h4">{{ .job }}</span>
        <small>-</small>
        <a href="{{.key}}-{{ .companyUrl }}" target="_blank">{{ .company }}</a>
        <div class="pb-1">
            <small>{{ .date }}</small>
            {{ if .info | default false}}
                {{ if .info.enable | default true }}
                <span class="p-2">
                    <span
                        style="cursor: pointer;"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-original-title={{ .info.content | default (print "Working as a " .job " at " .company ) }}
                    >
                        <i class="fas fa-info-circle fa-xs"></i>
                    </span>
                </span>
                {{ end }}
            {{ end }}
        </div>

        {{ if .featuredLink | default false}}
            {{ if .featuredLink.enable | default false }}
            <div class="py-2 featuredLink">
                <a class="p-2 px-4 btn btn-outline-primary btn-sm" href={{ .featuredLink.url | default "#" }} target="_blank">
                {{ .featuredLink.name | default "Featured Link" }}
                </a>
            </div>
            {{ end }}
        {{ end}}
    </div>
    
    {{ .content | markdownify}}
</div>