#baseURL: "https://netlify.raghumanne.com/"
baseURL: "https://raghumanne.com/"
languageCode: "en-us"
title: "Raghu Manne"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Raghu Manne"
  description: Portfolio website
  # staticPath: ""  # The path to serve the static files from
  favicon: "/images/profile.jpeg"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"
  
  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Raghu Manne" # Brand name for the brand | default is the title variable
    disableSearch: false
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableCertifications: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Raghu Manne."
    subtitle: "Cloud & DevOps Engineer"
    content: "A passionate engineer enthusiast towards cloud native technologies."
    image: /images/profile.jpeg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "https://rxresu.me/cnk.raghu.manne/remote"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/raghu-manne
        - icon: fab fa-x-twitter
          url: https://twitter.com/theRaghuManne
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/raghumanne
      # customIcons:
      #   - icon: /fav.png
      #     url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    #image: "/images/me.png"
    content: |-
      A Cloud & DevOps engineer enthusiast towards cloud native technologies. Work towards no stone is left unturned to utilize my knowledge and skill in given opportunity effectively for professional growth and to contribute in the best possible way for the betterment of the organisation and self.
    skills:
      enable: true
      title: "Here are a few technologies i have experience working with:"
      items:
        - "Kubernetes"
        - "Docker"
        - "Containers"
        - "Google Cloud Platform"
        - "AWS"
        - "CI/CD"
        - "GitOps"
        - "Shell Scripting"

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "Cloud Engineer"
        company: "Searce"
        companyUrl: "https://searce.com"
        date: "August 2022 - present"
        # featuredLink:
        #   enable: true
        #   name: "View the project"
        #   url: "https://example.com"
        content: |
          - Onboarding Customers to GCP Marketplace for their GKE based Applications
          - Deploying and maintaining Applications on Elastic Kubernetes Services and autoscaling using Karpenter, HPA etc., Setting up Jenkins Pipelines to deploy to various environments like EKS, EC2 etc.,
          - Creating and Maintaining Helm charts
          - Setting up and retrieving secrets in external secret solutions like Hashicorp Vault, AWS secret manager, GCP secret manager etc.
          - Migrating workloads from AWS to GCP; migrating containerized workloads from ECS to GKE
          - Designing and implementing Security hardened GKE clusters using private networks,authorized control plane access, binary authorization etc.,
          - Setting up GitHub actions using private access to GCP environments for Continuous integration.
          - Setting up production level ArgoCD to deploy and monitor tens of applications across a fleet of GKE Clusters.
          - Writing Terraform code for Infrastructure including Landing Zone, VPC’s,GKE clusters etc.,
          - Configuring and setting SaaS based Databases like Atlas MongoDB, message broker like Confluent Kafka
          - Integrating external secret vaults like 1Password, HCP Vault, Cloud bases secret stores etc.,

      - job: "Cloud Engineer"
        company: "D3V"
        companyUrl: "https://d3vtech.com"
        date: "June 2021 - July 2022"
        # featuredLink:
        #   enable: true
        #   url: "https://example.com"
        # info:
        #   enable: true
        #   content: I worked as a software developer for more than one year in Amazon.
        content: |
          - Containerizing applications using Docker to be able to run on Kubernetes and Serverless platforms on Google Cloud Platform (GCP).
          - Designing and maintaining Kubernetes Clusters on Google Kubernetes Engine.Running and managing Databases like MySQL, PostgresSQL on k8s and managed Cloud Services
          - Writing YAML configuration files and Helm charts for Kubernetes Resources Designing and deploying CI/CD pipelines for applications
          - Deploying and maintenance of Workloads and resources on Kubernetes clusters Enhancing Applications with other open source tools like Istio,Helm etc., along Kubernetes
          - Using other GCP offerings to enhance the systems
          
  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Bachelor of Technology in Computer Science"
        school:
          name: "Lovely Professinal University"
          url: "https://lpu.in"
        date: "2016 - 2020"

  #Certifications
  achievements:
    enable: true
    items:
      - title: "CKA: Certified Kubernetes Administrator"
        #content: I solved all problems with optimal solution.
        url: https://www.credly.com/badges/1de94f31-06bd-4768-9713-605b39ac1ac5
        image: /images/cka.png
      - title: "CKAD: Certified Kubernetes Application Developer"
        url: https://www.credly.com/badges/df0a1809-fe8e-4cc6-bc03-331a785b284f
        image: /images/ckad.png
      - title: "Google Cloud: Professional Cloud DevOps Engineer"
        url: https://www.credly.com/badges/9608d47c-6592-423b-b913-f7bb6671b126
        image: /images/gcp-devops.png
      - title: "Google Cloud: Professional Cloud Architect Certification"
        url: https://www.credly.com/badges/f86442b2-1401-4d88-8377-a92bfb221f1c
        image: /images/gcp-pca.png
      - title: "Google Cloud: Associate Cloud Engineer Certification"
        url: https://www.credly.com/badges/d301642d-a6da-4371-80fa-f212e9bd6328
        image: /images/gcp-ace.png

  # Achievements
  # achievements:
  #   enable: true
  #   # title: "Custom Name"
  #   items:
  #     - title: Google kickstart runner
  #       content: I solved all problems with optimal solution.
  #       url: https://example.com
  #       image: /images/achievment.jpg
  #     - title: Facebook Hackathon Winner
  #       content: Developed a product using Artificial Intelligence.
  #       image: /images/achievment.jpg
  #     - title: Hugo Profile
  #       content: Developed a theme and getting 1K+ downloads per month.
  #       url: "https://github.com/gurusabarish/hugo-profile"
  #       image: /images/achievment.jpg
  #     - title: Microsoft Imagine Runner
  #       content: We are developed a product which can help others.
  #     - title: Google Summer of Code
  #       content: Contributed to a open source project.
  #       url: https://example.com

  # projects
  # projects:
  #   enable: true
  #   # title: "Custom Name"
  #   items:
  #     - title: Hugo Profile
  #       content: A highly customizable and mobile first Hugo template for personal portfolio and blog.
  #       image: /images/projects/profile.png
  #       featured:
  #         name: Demo
  #         link: https://hugo-profile.netlify.app
  #       badges:
  #         - "Hugo"
  #         - "Bootstrap"
  #         - "Javascript"
  #       links:
  #         - icon: fa fa-envelope
  #           url: mailto:?subject=Hugo%20Profile%20Template&body=Check%20it%20out:%20https%3a%2f%2fhugo-profile.netlify.app%2fblog%2fmarkdown-syntax%2f
  #         - icon: fab fa-github
  #           url: https://github.com/gurusabarish/hugo-profile
  #         - icon: fab fa-twitter
  #           url: https://twitter.com/intent/tweet?text=Check+it+out:&url=https%3A%2F%2Fgithub.com%2Fgurusabarish%2Fhugo-profile

  #     - title: Image Converter
  #       content: A web app to convert image to pdf, png to jpg, png to jpg and png to webp without database using django.
  #       image: /images/projects/converter.jpg
  #       featured:
  #         name: Demo
  #         link: https://django-converter.herokuapp.com
  #       badges:
  #         - "Django"
  #         - "Bootstrap"
  #       links:
  #         - icon: fab fa-github
  #           url: https://github.com/gurusabarish/converter

  #     - title: Hugo Profile V2
  #       content: A clean and simple Hugo template for personal portfolio and blog.
  #       image: /images/projects/profile2.jpg
  #       featured:
  #         name: Demo V2
  #         link: https://hugo-profile-2.netlify.app
  #       badges:
  #         - "Hugo"
  #         - "Bootstrap"
  #         - "Javascript"
  #       links:
  #         - icon: fab fa-github
  #           url: https://github.com/gurusabarish/HugoProfileV2

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    btnName: Mail me
    btnLink: mailto:cnk.raghu.manne@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/raghu-manne
      linkedin: https://www.linkedin.com/in/raghumanne
      twitter: https://twitter.com/theRaghuManne
      instagram: https://instagram.com/theraghumanne


  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
