<footer class="footer py-3 text-muted text-center">


    <p>

    <div class="footer-site text-uppercase pb-2 font-weight-bold"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    &copy; {{ .Site.Params.copyright }} All Rights Reserved<br>

    Made with
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
    </svg>
    and
    <a href="https://gohugo.io" aria-label="hugo">Hugo</a>

    by
    {{ if .Site.Author.name }}
    {{ if .Site.Author.website }}
    <a href="{{ .Site.Author.website }}" aria-label="github handle">{{ .Site.Author.name }}</a>
    {{ else }}
    {{ .Site.Author.name }}
    {{ end }}
    {{ else }}
    <a href="https://github.com/gurusabarish" aria-label="github handle">GuruSabarish</a>
    {{ end }}
    </p>

</footer>