<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="{{ .Site.Params.favicon | default "/images/favicon.png"}}" type="image/gif">
<!-- Header and Footer -->
<style>
    /*footer*/
    .footer {
        background: #f2f2f2;
    }

    .navbar-text {
        font-size: 17px;
    }

    .footer-site {
        font-family: 'Alata', sans-serif;
        font-size: 25px;
    }

    /*navbar*/
    .navbar-color {
        color: #101820ff;
    }

    .navbar-brand {
        font-size: 22px;
    }

    .nav-link {
        color: #101820ff !important;
        font-size: 18px;
    }
</style>