<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Title }}</title>

<link rel="icon" href="{{ .Site.Params.favicon | default "/images/favicon.png"}}" type="image/gif">

<!-- Header and Footer -->
<link rel="stylesheet" href="/css/head_foot.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167646412-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.googleanalytics }}');
</script>