{{ define "head" }}
<title>{{- .Site.Title -}}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet"
    media="all">
{{ template "_internal/google_analytics.html" . }}
{{ end }}


{{ define "main" }}
{{- partial "sections/about.html" . -}}
{{- partial "sections/do_things.html" . -}}
{{ end }}