name: Auto approve

on:
  pull_request_target

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
    - uses: hmarr/auto-approve-action@v2
      if: github.actor == 'ImgBotApp[bot]'
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
