.darkmode {
  background-color: #18191a;
}

.darkmode-text-dark {
  color: #e4e6eb !important;
}

.darkmode-text-muted {
  color: #b0b3b8 !important;
}

.nav-pills .active {
  color: #e4e6eb !important;
}

.darkmode-content-pro {
  background-color: #3a3b3c !important;
}

.bg-pro {
  opacity: 0.8;
}

.achiv {
  background: #3a3b3c;
}

.achiv .text-secondary {
  color: #e4e6eb;
}

.card {
}
