.darkmode {
  background-color: #18191a;
}

.darkmode-text-dark {
  color: #e4e6eb !important;
}

.darkmode-text-muted {
  color: #b0b3b8 !important;
}

.darkmode-dropdown-menu {
  background-color: #212121 !important;
}
